@page
@model Proiect1.Pages.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.ID" />
            <div class="form-group">
                <label asp-for="Appointment.ClientName" class="control-label"></label>
                <input asp-for="Appointment.ClientName" class="form-control" />
                <span asp-validation-for="Appointment.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Service" class="control-label"></label>
                <input asp-for="Appointment.Service" class="form-control" />
                <span asp-validation-for="Appointment.Service" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.StylistID" class="control-label"></label>
                <select asp-for="Appointment.StylistID" class="form-control" asp-items="ViewBag.StylistID"></select>
                <span asp-validation-for="Appointment.StylistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
